/*DOCTYPE css*/
/*11.05.2022_Szulist*/'
p#pogrubienie_Szulist
{
font-size: 32 px;
color:#925BD1;
}
p#pochylona_Szulist
{
font-size: 37 pt;
color:#F6BF6D;
}
p#index_gorny_Szulist
{
font-size: 1,2 cm;
color:#A68D1D;
}
p#index_dolny_Szulist
{
font-size: 1,9 cm;
color:#42F1E5;
}
p#mono_Szulist
{
font-size: 42 px;
color:#26DD6D;
}
p#powiekszenie_Szulist
{
color:#603D9F;
}
p#pomniejszenie_Szulist
{
color:#C4A13B;
}
<!DOCTYPE html>
<html lang="pl-PL">
<html>  
<head>    
<meta charset="UTF-8"> 
<LINK href="Szul_z23.css" rel="stylesheet" type="text/CSS">
</head>
<body>
<p id="pogrubienie_Szulist">Szulist-Z programowaniem jak z budową katedry, budujesz,budujesz a potem się modlisz (żeby wszystko działało)</p>
<p id="pochylona_Szulist">Szulist-Programista otwiera lodówkę, sięga po masło i patrząc na napis "82%" mówi: - a to jeszcze chwilka i będzie gotowe.</p>
<p id="index_gorny_Szulist">Szulist-Dlaczego programiści mylą Boże Narodzenie z Halloween ? Bo 25 Dec = 31 Oct</p>
<p id="index_dolny_Szulist">Wiecie, dlaczego pralki mają tyle różnych programów? Żeby kobiety też mogły programować.</p>
<p id="mono_Szulist">Szulist-Dlaczego nie można programować w Boże Narodzenie? -Bo bug się rodzi</p>
<p id="powiekszenie_Szulist">Szulist-Jaki rozmiar stanika nosi dziewczyna programisty? - C++</p>
<p id="pomniejszenie_Szulist">Szulist-int kobieta; //kobieta zmienną jest</p>
</body>
</html>
<!11.05.2022_Szulist>
