p
{
    color: rgb(152, 255, 106);
    font-size: 6.75mm;
}

p:lang(pl)
{
    color: rgb(255, 0, 0);
    font-size: 7.75mm;
}

p:lang(en)
{
    color: rgb(255, 130, 30);
    font-size: 11.75mm;
}